.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-75 {
  top: 75% !important;
}

.top-85 {
  top: 85% !important;
}

.h-15 {
  height: 15% !important;
}

.w-60 {
  width: 60% !important;
}

button.btn.h4 {
  background-color: #ffffff;
  color: #ed5066;
  border-radius: 10px 10px 0 0;
  opacity: 0;
}

.ratio.ratio-1x1:hover button.btn.h4 {
  opacity: 1;
  transition: all 0.4s;
}

.ratio.ratio-1x1:hover button.btn.h4:hover {
  background-color: #ed5066;
  color: #ffffff;
}

@media (min-width: 144px) {
  button.btn.h4 {
    display: none;
  }
}

@media (min-width: 768px) {
  button.btn.h4 {
    display: inline-block;
  }
}

.rounded-circle {
  width: 3rem;
  height: 3rem;
}
